boto3
botocore
langchain==0.2.12
langchain-community==0.2.10
langchain-aws==0.1.13
urllib3
opensearch-py==2.3.1
datasets
pypdf>=4.1.0
langchain-community
faiss-cpu==1.8.0
tiktoken==0.6.0
sqlalchemy==2.0.28
langchain-aws
docx2txt
